<template name="project">
  <div class="project container">
    {{#if isOwner}}
    <a class="ui button" href="{{pathFor 'projectEdit' _id=project._id}}">Edit</a>
    {{/if}}

    <div class="info section">
      <h1 class="name">{{project.name}}</h1>

      <div class="description">{{project.desc}}</div>
      <div class="location">{{project.location}}</div>
      <div class="summary">{{project.summary}}</div>
    </div>
    <div class="team section">
      <div class="title">Team</div>
      <div class="members">
        {{#each team}}
        <a href="{{pathFor 'users'}}"><div class="member">
          <div class="avatar">{{avatar}}</div>
          <div class="name">{{name}}</div>
        </div></a>
        {{/each}}
      </div>
    </div>

    <h3>Tags</h3>
    {{#with project}}
      {{> tagList}}
    {{/with}}
  </div>
</template>
