<template name="search">
  <div>
    <h2>Search</h2>

    <div class="search-wrapper">
      {{> esInput index=indexes placeholder="Search..." classes="search-input" }}
    </div>

    {{#ifEsIsSearching index="project"}}
    <p>Searching...</p>
    {{else}}
    {{#ifEsIsSearching index="user"}}
    <p>Searching...</p>
    {{else}}

    <div class="results">
      {{#ifEsHasNoResults index="project"}}
      {{else}}
      <h3>Projects</h3>
      <ul>
        {{#esEach index="project"}}
        <li>{{> searchResultProject}}</li>
        {{/esEach}}
      </ul>
      {{/ifEsHasNoResults}}

      {{#ifEsHasNoResults index="user"}}
      {{else}}
      <h3>Users</h3>
      <ul>
        {{#esEach index="user"}}
        <li>{{> searchResultUser}}</li>
        {{/esEach}}
      </ul>
      {{/ifEsHasNoResults}}

      {{#ifEsHasNoResults index="project"}}
      {{#ifEsHasNoResults index="user"}}
      <b>No results</b>
      {{/ifEsHasNoResults}}
      {{/ifEsHasNoResults}}
    </div>

    {{/ifEsIsSearching}}
    {{/ifEsIsSearching}}
  </div>
</template>
