<template name="header">
  <header>
    <div class="ui tiered menu">
      <div class="menu">
        <a class="app title item" href="{{pathFor 'home'}}">meBoard</a>

        <a class="active item" href="{{pathFor 'projects'}}">
          <i class="home icon"></i> Projects
        </a>
        <a class="item" href="{{pathFor 'users'}}">
          <i class="user icon"></i> Users
        </a>
        <a class="item" href="{{pathFor 'search'}}">
          <i class="search icon"></i> Search
        </a>

        <div class="right menu">

          {{#if currentUser}}
          <div class="ui dropdown item">
            <i class="user icon"></i> {{currentUser.username}} <i class="dropdown icon"></i>

            <div class="menu">
              <a href="{{pathFor 'user' _id=currentUser.id}}" class="profile item"><i class="edit icon"></i> Edit Profile</a>
              <a href="{{pathFor 'entrySignOut'}}" class="logout item"><i class="sign out icon"></i> Sign out</a>
            </div>
          </div>
          {{else}}
          <a href="{{pathFor 'entrySignIn'}}" class="login item"><i class="sign in icon"></i> Sign in</a>
          {{/if}}
        </div>
      </div>
    </div>
  </header>
</template>
